@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

$green: rgb(16, 163, 127);
$mobile-breakpoint: 768px;
$font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

* {
    box-sizing: border-box;
}

::selection {
    background: $green;
    color: #fff;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.05);
}


html,
body {
    background: black;
}

html,
body,
#__next {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: subpixel-antialiased;
}

.text-center {
    text-align: center;
}

.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
}

.text-field-container {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 20px;

    label {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="password"],
    input[type="url"] {
        width: 100%;
        outline: none;
        padding: 10px;
        color: #000;
        border: none;
        font-size: 14px;
        background: transparent;
        transition: all ease-in-out 0.2s;
        border-bottom: 1px solid #eee;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        cursor: pointer;
        position: relative;
        top: 2px;
    }

    small {
        font-size: 12px;
        margin-top: 5px;
        color: gray;
        display: block;
    }

    svg {
        position: absolute;
        right: 8px;
        bottom: 28px;
        width: 16px;
        height: 16px;
        opacity: 0.8;
    }
}

.dialog-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font;
    transition: all ease-in-out 0.2s;

    .dialog {
        color: #000;
        width: 100%;
        max-width: 80vh;
        background: #fff;
        position: relative;
        min-height: 250px;
        overflow-y: scroll;
        max-height: 80vh;
        animation: fadeIn 0.3s;
        text-align: left;

        .dialog-content {
            padding: 15px;
            padding-top: 0;
        }

        header {
            top: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            position: sticky;
            background: white;
            z-index: 2;
            border-bottom: 1px solid #eee;

            h1 {
                margin: 0;
                font-size: 20px;

                button {
                    font-family: $font;
                    border: none;
                    outline: none;
                    background: #eee;
                    padding: 5px 10px;
                    border-radius: 3px;
                    cursor: pointer;
                    font-size: 13px;
                }
            }

            span.material-symbols-outlined {
                position: absolute;
                right: 10px;
                top: 12px;
                border: none;
                width: 24px;
                height: 24px;
                color: #000;
                cursor: pointer;
                background-color: transparent;
                transition: transform ease-in-out 0.2s;

                &:hover {
                    transform: rotate(90deg);
                }
            }
        }

        form {
            margin-top: 20px;

            h3 {
                margin-top: 15px;
            }

            p {
                color: #222;
                line-height: 22px;
                margin-top: 10px;
                font-size: 15px;
            }

            hr {
                margin: 10px 0;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            }
        }

        button.primary {
            gap: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 3px;
            background: $green;
            color: #fff;
            padding: 10px 15px;
            outline: none;
            border: 1px solid rgb(32, 149, 120);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            &:hover {
                opacity: 0.8;
            }

            &.cancel {
                border-color: rgba(255, 255, 255, 0.2);
                background: rgba(255, 255, 255, 0.1);
            }

            &.gray {
                background: gray;
                border-color: rgba(0, 0, 0, 0.05);
            }

            span {
                font-size: 18px;
                color: inherit;
            }
        }

        @media (max-width: $mobile-breakpoint) {
            width: 90%;
            max-width: 90%;
            min-height: 50%;
        }
    }
}


.scroll-to-bottom {
    position: fixed;
    right: 30px;
    bottom: 110px;
    width: 24px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 8;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    transition: opacity ease-in-out 0.2s;
    line-height: 30px;

    span {
        color: #fff;
        font-size: 16px;
    }

    &:active {
        opacity: 0.5;
    }
}

.application-chat {
    height: 100%;
    color: #fff;
    display: flex;
    background: #000;
    font-family: $font;

    aside {
        z-index: 1;
        height: 100%;
        width: 260px;
        padding: 8px;
        flex: 0 0 260px;
        border-right: 1px solid rgba(255, 255, 255, 0.1);

        @media (max-width: $mobile-breakpoint) {
            display: none;

            &.show {
                position: fixed;
                left: 0;
                top: 0;
                z-index: 10;
                width: 260px;
                display: block;
                background: #000;
            }
        }

        .add-button {
            user-select: none;
            gap: 10px;
            width: 100%;
            border: none;
            display: flex;
            outline: none;
            padding: 10px;
            cursor: pointer;
            text-align: left;
            font-family: $font;
            background-color: #000;
            color: rgba(255, 255, 255, 1);
            border: 1px solid rgba(255, 255, 255, 0.1);

            span {
                font-size: 16px;
            }
        }

        hr {
            margin: 0;
            border: none;
            margin-top: 10px;
            margin-bottom: 10px;
            border-top: 1px solid rgba(255, 255, 255, 0.05);
        }

        ul {
            padding: 0;
            margin: 0;
            text-align: left;
            list-style-type: none;
            max-height: 70vh;
            overflow-y: scroll;
            padding-bottom: 15px;

            li {
                gap: 5px;
                display: flex;
                color: #fff;
                padding: 10px;
                cursor: pointer;
                font-size: 14px;
                margin-bottom: 5px;
                align-items: center;
                justify-content: left;
                flex-direction: row;
                color: rgba(255, 255, 255, 0.8);
                transition: background-color ease-in-out 0.1s;

                &:hover,
                &.active {
                    color: #fff;
                    background: rgba(255, 255, 255, 0.15);
                }

                &.active a {
                    overflow-x: auto;
                }

                label {
                    color: inherit;
                    text-align: left;
                    text-decoration: none;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow-x: hidden;
                    cursor: pointer;
                }

                &:hover,
                &.active {
                    button {
                        display: block;
                    }
                }

                @media (max-width: $mobile-breakpoint) {
                    button {
                        display: block !important;
                    }
                }

                button {
                    width: 16px;
                    height: 16px;
                    opacity: 0.7;
                    outline: none;
                    border: none;
                    background-size: 16px;
                    background: transparent;
                    background-repeat: no-repeat;
                    flex: 0 0 16px;
                    cursor: pointer;
                    display: none;
                    font-size: 16px;
                    color: gray;

                    span {
                        font-size: inherit;
                    }

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }

        footer {
            padding: 15px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 260px;
            user-select: none;

            .flex {
                gap: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                .item {
                    flex: 1;
                    opacity: 0.7;
                    cursor: pointer;
                    text-align: center;

                    &:hover {
                        opacity: 1;
                    }

                    img {
                        margin: auto;
                    }
                }
            }
        }
    }

    main {
        width: 100%;
        overflow-x: auto;

        .messages {
            height: auto;
            overflow-y: scroll;
            padding-bottom: 150px;

            @media (max-width: $mobile-breakpoint) {
                padding-top: 80px;
            }

            .model-selector-container {
                text-align: center;
                display: flex;
                gap: 15px;
                align-items: center;
                justify-content: center;

                @media (max-width: $mobile-breakpoint) {
                    padding: 15px;
                    gap: 5px;
                    padding-top: 0;
                }

                .model-selector {
                    user-select: none;
                    margin-top: 15px;
                    min-width: 150px;
                    text-align: left;
                    border-radius: 3px;
                    padding: 7.5px 15px;
                    display: inline-block;
                    background: rgba(0, 0, 0, 0.1);
                    transition: all ease-in-out 0.2s;
                    border: 1px solid rgba(255, 255, 255, 0.2);

                    @media (max-width: $mobile-breakpoint) {
                        flex: 1;
                    }

                    &:hover {
                        border-color: $green;
                    }

                    label {
                        opacity: 0.7;
                        display: block;
                        font-size: 13px;
                    }

                    select {
                        width: 100%;
                        border: none;
                        padding: 3px;
                        color: #fff;
                        outline: none;
                        margin-top: 5px;
                        background: transparent;
                        -webkit-appearance: none;
                    }
                }
            }

            .messages-header {
                display: flex;
                align-items: center;
                justify-content: center;

                padding: 15px;
                font-size: 13px;
                user-select: none;
                text-align: center;
                color: rgba(255, 255, 255, 0.8);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                @media (max-width: $mobile-breakpoint) {
                    top: 0;
                    left: 0;
                    z-index: 2;
                    width: 100%;
                    background: #000;
                    position: absolute;
                }

                button {
                    width: 32px;
                    height: 32px;
                    color: #fff;
                    border: none;
                    outline: none;
                    flex: 0 0 32px;
                    cursor: pointer;
                    background-color: transparent;

                    span {
                        color: #fff;
                        font-size: 24px;
                    }
                }

                strong {
                    display: block;
                    max-width: 80%;
                    margin: auto;
                }

                label {
                    font-size: 13px;
                    display: block;
                    margin-top: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .tooltip-wrapper {
                        flex: 0 0 24px;

                        .active-plugin {
                            margin-left: 5px;
                            display: inline-block;

                            img {
                                width: 24px;
                            }
                        }
                    }
                }

                @media (min-width: $mobile-breakpoint) {
                    button {
                        display: none;
                    }
                }
            }

            .message {
                padding: 30px 0px;
                position: relative;
                color: rgba(255, 255, 255, 0.9);
                border-bottom: 1px solid rgba(255, 255, 255, 0.05);

                &.assistant {
                    background: rgba(255, 255, 255, 0.05);
                }

                &.system {
                    background: gray;

                    .container .content * {
                        font-size: 13px;
                    }

                    .container .avatar {
                        background: #666;
                        border: 1px solid #555;
                        text-align: center;
                        font-weight: bold;
                        text-align: center;
                        line-height: 30px;
                    }
                }

                &.user .container .avatar {
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 28px;
                    text-align: center;
                    border-color: #fff;
                }

                &.assistant .container .avatar.gpt-3-5-turbo {
                    border: none;
                    background-size: 70%;
                    background-position: center center;
                    background-color: $green;
                    background-repeat: no-repeat;
                    background-image: url('/openai_logo_white.svg');
                }

                &.assistant .container .avatar.gpt-4 {
                    border: none;
                    background-size: 70%;
                    background-position: center center;
                    background-color: #000;
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    background-repeat: no-repeat;
                    background-image: url('/openai_logo_white.svg');
                }

                &.assistant .container .avatar.gpt4all {
                    border: none;
                    background-size: 100%;
                    background-position: center center;
                    background-color: #fff;
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    background-repeat: no-repeat;
                    background-image: url('/gpt4all.svg');
                }

                &:hover {
                    .container.actionbar button {
                        opacity: 1;
                    }
                }

                &.assistant.error .avatar {
                    position: relative;

                    &::after {
                        content: "!";
                        background: red;
                        padding: 5px;
                        text-align: center;
                        border-radius: 50%;
                        color: #fff;
                        font-size: 12px;
                        position: absolute;
                        right: -8px;
                        top: -8px;
                        width: 12px;
                        height: 12px;
                        line-height: 12px;
                        font-weight: bold;
                        font-family: monospace;
                    }
                }

                &.assistant.stream .container {
                    .content {
                        p {
                            margin: 0;
                            position: relative;

                            &:last-of-type {
                                margin-bottom: 0px;

                                &::after {
                                    content: "";
                                    display: inline-block;
                                    background: gray;
                                    width: 7px;
                                    margin-left: 3px;
                                    height: 17px;
                                    animation: blink 0.8s infinite;
                                }
                            }
                        }
                    }
                }

                .container {
                    gap: 15px;
                    margin: auto;
                    padding: 10px;
                    display: flex;
                    max-width: 768px;
                    position: relative;

                    &.actionbar {
                        direction: rtl;
                        height: 0px;
                        padding: 0px;
                        position: relative;

                        button {
                            z-index: 1;
                            position: absolute;
                            right: 0;
                            top: -7px;
                            width: 16px;
                            height: 16px;
                            background-repeat: no-repeat;
                            background-size: 16px;
                            background-position: center center;
                            background-color: transparent;
                            outline: none;
                            border: none;
                            cursor: pointer;
                            color: gray;
                            font-size: 16px;

                            &:hover {
                                color: white;
                            }

                            span {
                                font-size: inherit;
                            }

                            &.regenerate {
                                @media (max-width: $mobile-breakpoint) {
                                    right: 10px;
                                }
                            }
                        }
                    }

                    .paths {
                        width: 50px;
                        font-size: 12px;
                        display: flex;

                        label {
                            color: #fff;
                            display: inline-block;
                        }

                        button {
                            opacity: 0.8;
                            background: transparent;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            color: #fff;
                            font-size: 12px;
                            display: inline-block;

                            &:disabled {
                                opacity: 0.4;
                                cursor: not-allowed;
                            }
                        }

                        @media (max-width: $mobile-breakpoint) {
                            top: auto;
                            left: auto;
                            width: auto;
                            position: relative;
                            justify-content: center;
                            display: block;
                        }
                    }

                    .avatar {
                        flex: 0 0 32px;
                        width: 32px;
                        height: 32px;
                        user-select: none;
                        border-radius: 3px;
                        border: 1px solid rgb(16, 163, 127);
                    }

                    .content {
                        flex: 1;
                        white-space: pre-wrap;
                        overflow-x: auto;

                        p {
                            margin-top: 0;
                            line-height: 26px;
                        }

                        pre {
                            code {
                                padding: 0;
                                border: none;
                                font-size: inherit;
                                background: transparent;
                            }
                        }

                        code {
                            font-size: 16px;
                            padding: 1px 6px;
                            background: rgba(0, 0, 0);
                            border: 1px solid rgba(255, 255, 255, 0.1);
                        }

                        a {
                            color: #fff;
                            text-decoration: underline;
                        }

                        p {
                            margin: 0;
                        }

                        ol {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            display: flex;
                            counter-reset: item;
                            flex-direction: column;
                            padding-left: 20px;
                            list-style-type: decimal;
                            margin-bottom: 1.25em;
                            margin-top: 0;
                            margin-left: 10px;

                            li {
                                margin-bottom: 0.5rem;
                                padding-left: 0.375em;
                                display: list-item;
                                text-align: -webkit-match-parent;
                                list-style-type: decimal;

                                // only ios change padding-left
                                @supports (-webkit-text-stroke: 0px) {
                                    padding-left: 0px;
                                }

                                &::marker {
                                    color: rgb(145, 145, 145);
                                }

                                p {
                                    margin: 0;
                                    text-align: -webkit-match-parent;
                                    margin-block-start: -23px !important;
                                    -webkit-margin-before: -23px !important;

                                    &::after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                    .edit-actions {
                        gap: 15px;
                        display: flex;
                        margin-top: 15px;
                        align-items: center;
                        justify-content: center;

                        button {
                            color: #fff;
                            outline: none;
                            cursor: pointer;
                            border-radius: 3px;
                            padding: 10px 15px;
                            background: $green;
                            border: 1px solid rgba(255, 255, 255, 0.1);
                            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                            &:hover {
                                opacity: 0.8;
                            }

                            &.cancel {
                                border-color: rgba(255, 255, 255, 0.2);
                                background: rgba(255, 255, 255, 0.1);
                            }
                        }
                    }

                    @media (max-width: 1280px) {
                        max-width: 576px;
                    }
                }
            }
        }

        .text-center {
            left: 0;
            bottom: 0;
            width: 100%;
            position: fixed;
            padding-left: 260px;
            padding-bottom: 30px;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);

            @media (max-width: $mobile-breakpoint) {
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 10px;
            }

            .control {
                margin: auto;
                width: 100%;
                max-width: 768px;
                position: relative;
                background: #000;
                border: 1px solid rgba(255, 255, 255, 0.2);

                @media (max-width: 1280px) {
                    max-width: 576px;
                }

                textarea {
                    color: #fff;
                    font-family: $font;
                    background: #000;
                    border: none;
                    outline: none;
                    resize: none;
                    width: 100%;
                    padding: 10px;
                    font-size: 18px;
                    padding-right: 60px;
                    -webkit-text-size-adjust: 100%;
                    text-rendering: geometricPrecision;
                    -webkit-font-smoothing: subpixel-antialiased;
                }

                span {
                    right: 15px;
                    bottom: 23px;
                    cursor: pointer;
                    position: absolute;
                    display: none;

                    &:hover {
                        color: $green;
                    }

                    &:active {
                        transform: scale(0.9);
                    }

                    &.active {
                        display: block;
                    }

                    &.loading {
                        display: block;
                        transition: all 0.3s ease-in-out;
                        animation: spin 1s linear infinite;
                        color: gray !important;
                    }
                }

                &.disabled {
                    opacity: 0.5;
                    cursor: progress !important;

                    * {
                        cursor: progress !important;
                    }
                }
            }
        }
    }
}

.welcome-message {
    width: 80%;
    margin: auto;
    padding: 15px;
    padding-top: 15%;
    text-align: center;

    @media (max-width: $mobile-breakpoint) {
        width: 95%;
        padding-top: 10%;
    }

    p {
        font-size: 15px;
        line-height: 24px;

        a {
            color: $green;
        }
    }
}

.codeblock {
    width: 95%;
    background-color: #000;

    header {
        color: #fff;
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: rgba(255, 255, 255, 0.08);

        .title {
            flex: 1;
        }

        button {
            width: 16px;
            height: 16px;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: transparent;
            color: #fff;

            span {
                width: 16px;
                height: 16px;
                color: inherit;
                font-size: 16px;
            }
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.tooltip-wrapper {
    position: relative;
    flex: 1;
}

.tooltip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #111;
    color: white;
    padding: 7px;
    z-index: 9999;
    opacity: 0;
    font-size: 13px;
    transition: opacity 0.2s ease-in-out;
    visibility: hidden;
}

.tooltip-bottom {
    top: 100%;
}

.tooltip-top {
    bottom: 100%;
}

.tooltip-wrapper:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.alert {
    font-size: 15px;
    padding: 10px;
    line-height: 18px;
    background: #f5f5f5;
    display: inline-block;
    border: 1px solid #eee;
    margin-bottom: 10px;

    a {
        color: $green;
    }
}

.plugins {
    gap: 20px;
    display: flex;

    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
    }

    .plugin {
        flex: 1;
        padding: 10px;
    }
}

.plugin {
    .plugin-header {
        gap: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            flex: 0 0 64px;

            img {
                width: 64px;
                border-radius: 5px;
            }
        }

        .content {
            flex: 1;

            h3 {
                margin: 0;
                padding: 0;
                padding-bottom: 15px;
            }

            button {
                width: 100%;
            }
        }
    }

    p {
        display: flex;
        margin: 0;
        font-size: 14px;
        margin-top: 5px;
        line-height: 20px;
        margin-bottom: 5px;
        color: rgba(0, 0, 0, 0.8);
        height: 60px;
        justify-content: left;
        align-items: center;
        text-overflow: ellipsis;
    }

    div {
        a {
            margin-right: 15px;
            font-weight: normal;
            font-size: 16px;
            color: gray;

            &:hover {
                color: black;
            }

            span {
                font-size: inherit;
                color: inherit;
            }
        }
    }
}

.flex {
    display: flex;

    .item {
        flex: 1;
    }
}